@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 28, 40, 38;
  --background-rgb: 247, 245, 238;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
